<h1>Environmental Chamber Data</h1>
<%= javascript_include_tag "//www.google.com/jsapi" %>

<%= line_chart @thing_data.
  group_by_minute('env_data.created_at', series: false, format: "%F %R").
  #group_by_minute('env_data.created_at', series: false, format: "%F %H").
  average(:temp_c),
  library: {
    vAxis: {
      gridlines: {count: 12}
    },
    hAxis: {
      slantedText: true,
      gridlines: {count: 24}
    },
  }, adapter: "google" %>

<p>EnvData count: <%= @data_count %></p>

<%= yield :charts_js %>
